<li class="list-group-item">
	{{burger_name}}

	<button type="button" class="change-eaten {{#if devoured}} btn btn-danger {{else}}  btn btn-success {{/if}}" data-id="{{this.id}}" data-eaten="{{devoured}}">
		{{#if devoured}}Devour!{{else}}Recycle!{{/if}}
	</button>

</li>
